{% include 'sitio/header.html' %}
        
        <div class="row align-items-md-stretch">
            <div class="col-md-12">
                <div
                    class="h-100 p-5 border rounded-3"
                >
                    <h1>Bienvenid@</h1>
                    <p>
                        Empezar con nuestro sitio web
                    </p>
                    <a href="/libros"
                        class="btn btn-success btn-lg"
                        role="button"
                    >
                        Ver libros disponibles
                    </a>
                </div>
            </div>
        </div>

{% include 'sitio/footer.html' %}

        


